@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic|Montserrat);
h2 {
	font-size: 16px;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
}
h3 {

}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
