.feature {
	@include rems(height, 50);
	background-size: cover;
	background-position: top center;
	@include rems(margin-top, 5);
	@media #{$tablet} {
		@include rems(height, 30);
	}
}
article {
	background: #fff;
	text-align: center;
	margin-bottom: 5%;
	-webkit-transition: all ease 0.5s;
			transition: all ease 0.5s;
	position: relative;
	z-index: 10;
	&:hover {
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		-webkit-transition: all ease 0.5s;
				transition: all ease 0.5s;
	}
	.article-content {
		padding: 5%;
		.article-meta {
			border-top: 1px solid $grey;
			@include rems(padding-top, 1.5);
			margin-top: 5%;
		}
		h2 {
			@include font-size(2.4, 3);
			@include montserrat;
		}
		h3 {
			&.icons {
				@include lato;
				@include font-size(1.4, 2.2);
				span {
					@include rems(padding, 0, 0.8);
				}
			}
		}
		.article-excerpt {
			margin-top: 5%;
		}
		.single-article-content {
			text-align: left;
			margin-top: 5%;	
		}
	}
	.post-article & {
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		-webkit-transition: all ease 0.5s;
				transition: all ease 0.5s;
		@include rems(margin-top, -10);
		@media #{$tablet} {
			@include rems(margin-top, -5);
		}
		.article-share {
			position: absolute;
			right: 100%;
			@include rems(top, 12);
			@media #{$tablet} {
				display: none;
			}
			ul {
				list-style: none;
				li {
					display: block;
					text-align: center;
					@include rems(width, 4.5);
					-webkit-transition: all ease 0.5s;
							transition: all ease 0.5s;
					&:hover {
						-webkit-transition: all ease 0.5s;
								transition: all ease 0.5s;
						@include rems(padding-right, 1);
						@include rems(margin-left, -1);
					}
					&:nth-child(1) {
						background: #3b5998;
					}
					&:nth-child(2) {
						background: #55acee;
					}
					&:nth-child(3) {
						background: #dd4b39;
					}
					a {
						display: block;
						color: #fff;
						@include rems(padding, 0.2, 0, 0, 0.5);
						i.fa {
							@include rems(line-height, 4.5);
						}
					}
				}
			}
		}
		h1 {
			@include font-size(3.6, 4);
			@include montserrat;	
			@include rems(margin-bottom, 1);
		}
		h2, h3 {
			@include lato-bold;
			@include font-size(1.6, 2.2);
			text-transform: none;
			@include rems(padding-bottom, 1.5);
		}
		ul {
			list-style: disc;
			@include rems(margin-bottom, 1.5);
			padding-left: 5%;
			li {
				@include font-size(1.6, 2.2);
				@include rems(margin-bottom, 0.5);
				&:last-child { 
					margin-bottom: 0;
				}
			}
		}
	}
	.article-comments {
		padding: 0 5% 5%;
		text-align: left;
	}
}
