.article-comments {
	ol {
		li {
			@include clearfix;
			@include rems(margin-bottom, 2);
			ul {
				&.children {
					list-style: none;
					clear: both;
					@include rems(padding-top, 1);
					aside {
						&.avatar {
							width: 11%;
							margin-right: 4%;
						}
						&.comment {
							width: 85%;
						}
					}
				}
			}
			aside {
				&.avatar {
					width: 11%;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 4%;
					@include rems(max-height, 8);
				}
				&.comment {
					@include clearfix;
					width: 85%;
					h3 {
						padding-bottom: 0;
					}
					h4 {
						@include rems(margin-bottom, 1.5);
						@include font-size(1.4, 2.2);
					}
					span {
						&.reply-trigger {
							float: right;
							@include font-size(1.4, 2.2);
						}
					}
				}
			}
		}
	}
}
