article {
	background: #fff;
	text-align: center;
	margin-bottom: 5%;
	-webkit-transition: all ease 0.5s;
			transition: all ease 0.5s;
	&:hover {
		-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		-webkit-transition: all ease 0.5s;
				transition: all ease 0.5s;
	}
	.article-content {
		padding: 5%;
		.article-meta {
			border-top: 1px solid $grey;
			@include rems(padding-top, 1.5);
			margin-top: 5%;
		}
		h2 {
			@include font-size(2.4, 3);
			@include montserrat;
		}
		h3 {
			@include font-size(1.4, 2.2);
			span {
				@include rems(padding, 0, 0.8);
			}
		}
		.article-excerpt {
			margin-top: 5%;
		}
	}
}
