footer {
	background: $grey;
	@include rems(padding, 1.5, 0);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	@media #{$phone} {
		padding: 0;
	}
	ul {
		&.cats {
			@media #{$phone} {
				display: none;
			}
		}
		&.socials {
			display: none;
			@media #{$phone} {
				display: block;
				li {
					@include font-size(3, 5);
				}
			}
		}
		li {
			display: inline;
			@include rems(margin, 0, 1);
		}
		a {
			color: #fff;
		}
	}
}
