form {
	@include clearfix;
	div {
		display: none;
	}
	input[type=text], input[type=number], input[type=email], textarea {
		display: block;
		@include box;
		width: 100%;
		@include rems(padding, 1);
		@include lato;
		color: #333;
		@include font-size(1.6, 2);
		border: 1px solid #eee;
		@include rems(margin, 0.5, 0, 1);
		&:focus {
			outline: none;
			border: 2px solid #333;
		}
	}
	input[type=submit] {
		float: right;
		display: block;
		@include rems(padding, 1, 2);
		border: none;
		background: #333;
		color: #fff;
		@include font-size(1.6, 2);
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}
