header {
	@include rems(padding, 3, 0);
	@include clearfix;
	h1, h2 {
		display: block;
		float: left;
		@include font-size(3.6, 5);
		background-image: url('images/cr-logo.png');
		letter-spacing: -0.2rem;
		background-size: contain;
		width: 50%;
		text-indent: -10000px;
		background-repeat: no-repeat;
		@include rems(max-width, 30.6);
		@media #{$phone} {
			@include rems(max-width, 500);
			width: 100%;
			background-position: center center;
		}
		a {
			color: $grey;
			text-decoration: none;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	ul {
		&.socials {
			float: right;
			@include clearfix;
			@include phone-hide;
			li {
				float: left;
				display: block;
				@include rems(margin-left, 0.5);
				@include font-size(3, 4);
				a {
					color: $grey;
					text-decoration: none;
				}
			}
		}
		&.category-list {
			display: none;
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
		background: #494949; /* Old browsers */
		background: -moz-linear-gradient(top,  #494949 0%, #333333 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#333333)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #494949 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #494949 0%,#333333 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #494949 0%,#333333 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #494949 0%,#333333 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
		padding: 0;
		a {
			color: #fff;
		}
		h1, h2 {
			display: block;
			float: left;
			@include font-size(2.8, 3);
			letter-spacing: -0.2rem;
			background-image: url('images/cr-icon.png');
			@include rems(margin, 1, 0);
			@include rems(max-width, 3.7);
		}
		ul {
			&.socials {
				li {
					@include font-size(3, 5);
					a {
						color: #fff;
					}
				}
			}
			&.category-list {
				float: right;
				display: block;
				@include rems(margin-right, 1);
				@include montserrat;
				@media #{$phone} {
					margin-right: -5%;
				}
				li {
					&.has-sub-nav {
						position: relative;
						&:hover {
							& > a {
								background: #fff;
								color: $grey;
								-webkit-transition: all ease 0.5s;
										transition: all ease 0.5s;
							}
						}
						& > a {
							display: block;
							@include rems(padding, 0, 1);
							@include font-size(2, 5);
							-webkit-transition: all ease 0.5s;
									transition: all ease 0.5s;
						}
						ul {
							display: none;
							position: absolute;
							z-index: 50;
							left: 0;
							@include rems(top, 5);
							background: #fff;
							-webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
									box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
							@media #{$phone} {
								right: 0;
								left: auto;
							}
							li {
								a {
									display: block;
									@include rems(padding, 1);
									@include font-size(2, 2.2);
									color: $grey;
									-webkit-transition: all ease 0.5s;
											transition: all ease 0.5s;
									@include lato;
									&:hover {
										-webkit-transition: all ease 0.5s;
												transition: all ease 0.5s;
										background: #eee;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
