.post-list, .post-article {
	width: 70%;
	margin-right: 5%;
	@include full-width;
	@media #{$tablet} {
		width: 100%;
		margin-right: 0;
	}
}
.post-sidebar {
	width: 25%;
	@media #{$tablet} {
		display: none;
	}
}
.container {
	@include clearfix;
}
.page-content {
	position: relative;
	min-height: 100%;
}
.footer-fix {
	@include rems(padding-bottom, 5);
}
