nav.clearfix {  
	height: auto;  
	width: 100%; 
	font-size: 20pt;  
	font-weight: 400;
	position: relative;
	display: block;
	padding: 0;
	*zoom: 1;
	display: none; 
	@media only screen and (max-width: 25em) {
		display: block;
	}
	ul {  
		padding: 0;  
		margin: 0 auto;  
		width: 100%;  
		height: auto;
		display: none; 
		li {  
			display: block;  
			float: none;
			width: 100%;
			position: relative;  
			margin: 0;
			a { 
				box-sizing:border-box;  
				-moz-box-sizing:border-box;  
				-webkit-box-sizing:border-box;   
			}
			ul {
				padding-left: 20px;
				box-sizing:border-box;  
				-moz-box-sizing:border-box;  
				-webkit-box-sizing:border-box;   
				li {
					a {
						color: #15377e;	
					}
				}
			}
		}
		li:last-child {
			a {  
				border-right: 0;  
			} 
		}
	}
	a {  
		color: #f8931e;  
		display: block;  
		width: 100%;  
		text-align: left;
		text-indent: 25px;
		width: 100%;  
		text-decoration: none;  
		line-height: 40px;  
		background: #fff;
		font-size: 16px;
		padding: 0 0 0 2.5%;
		border-bottom: none;
	} 
	a#pull {  
        display: block;
		width: 95%;
		padding-right: 2.5%;    
        position: relative;
		background: #f8931e;
		color: #fff;  
		font-size: 2rem;
		line-height: 40px;
    }
	a#pull:after {  
		font-family: "dashicons";
        content: "\f214";  
		font-size: 3rem;  
        display: inline-block;  
        position: absolute;  
        right: calc(2.5% + 25px);  
    }
}  
.clearfix:before, .clearfix:after {  
	content: " ";  
	display: table;  
}  
.clearfix:after {  
	clear: both;  
}

