.post-sidebar {
	@include rems(margin-bottom, 4);
	.sidebar-content {
		@include rems(margin-bottom, 4);
		&:last-child {
			margin-bottom: 0;
		}
		&.extra-space {
			padding-top: 20%;
		}
	}
	h2 {
		display: block;
		border-bottom: 1px solid #333;
		@include montserrat;
		text-align: center;
		@include rems(padding-bottom, 0.5);
		@include rems(margin-bottom, 2);
		@include font-size(2.2, 2.4);
	}
	h3 {
		@include montserrat;
		@include font-size(1.6, 2);
		@include rems(margin-bottom, 1);
	}
	p {
		@include font-size(1.4, 1.8);
		span {
			@include rems(padding, 0, 0.8);
		}
	}
	ul {
		li {
			@include clearfix;
			@include rems(margin-bottom, 3);
			&:last-child {
				margin-bottom: 0;
			}
			aside {
				&:nth-child(1) {
					border-radius: 50%;
					overflow: hidden;
					width: 20%;
					margin-right: 5%;
					img {
						display: block;
					}
				}
				&:nth-child(2) {
					width: 75%;
				}
			}
		}
	}
}
