@mixin lato {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
@mixin lato-bold {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
@mixin montserrat {
	font-family: 'Montserrat', sans-serif;
}
body {
	@include font-size(1.6, 2.2);
	color: $grey;
	@include lato;
	h1 {
		@include montserrat;
	}
	a {
		color: $grey;
		text-decoration: none;
	}
}
header {
	h2 {
		@include montserrat;
	}
}